Repository Object-Study-Matching/iOS, pull requests merged in 2023-06, with the labels that each got.

#4 Feature/authentication login
  StudyMatching/.swiftlint.yml
  StudyMatching/Podfile.lock
  StudyMatching/Source/Common/Extension/UIColor/UIColor+Hex.swift
  StudyMatching/Source/Common/Extension/UIColor/UIColor+Palette.swift
  StudyMatching/Source/Common/Model/UISpacing.swift
  StudyMatching/Source/Feature/Authentication/Common/Extension/AuthenticationTextField+Constant.swift
  StudyMatching/Source/Feature/Authentication/Common/Model/AuthenticationTextFieldColorState.swift
  StudyMatching/Source/Feature/Authentication/Common/View/AuthenticationTextField.swift
  StudyMatching/Source/Feature/Authentication/SignUp/ViewController/SignUpViewController.swift
  StudyMatching/StudyMatching.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🎨 Style, 🖥 View, 🏖 Common

#6 Feature/tab bar setting
  StudyMatching/Podfile.lock
  StudyMatching/Source/Feature/Alert/ViewController/AlertController.swift
  StudyMatching/Source/Feature/Authentication/Main/ViewController/MainTabBarController.swift
  StudyMatching/Source/Feature/Chat/ViewController/ChatViewController.swift
  StudyMatching/Source/Feature/Home/ViewController/HomeViewController.swift
  StudyMatching/Source/Feature/Main/ViewController/ViewController.swift
  StudyMatching/Source/Feature/Profile/ViewController/ProfileViewController.swift
  StudyMatching/Source/Support/SceneDelegate.swift
  StudyMatching/StudyMatching.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🖥 View, 📲 ViewController, 🏖 Common

#7 Feature/tab bar setting:: HomeVC에서 SearchBar 구현 및 TabBarStyle setting
  StudyMatching/Source/Feature/Authentication/Main/ViewController/MainTabBarController.swift
  StudyMatching/Source/Feature/Home/ViewController/HomeViewController.swift
  StudyMatching/Source/Support/Assets.xcassets/addGroupButton.imageset/Contents.json
  StudyMatching/Source/Support/Assets.xcassets/addGroupButton.imageset/edff17667e13cc6ba168888a041fddbf.png
  StudyMatching/Source/Support/Assets.xcassets/search.imageset/Contents.json
  StudyMatching/Source/Support/Assets.xcassets/search.imageset/d67aa66c55006dbdc32f55e6f23dbf7d.png
Labels: 🎨 Style, 🖥 View, 📲 ViewController, 🏖 Common

#8 Feature/authentication login
  StudyMatching/.swiftlint.yml
  StudyMatching/Podfile.lock
  StudyMatching/Source/Common/Extension/UIColor/UIColor+Palette.swift
  StudyMatching/Source/Common/Extension/UIView/UIView+AnimateHalfAlphaAndBack.swift
  StudyMatching/Source/Common/Extension/UIView/UIView+AnimateShrinkAndBack.swift
  StudyMatching/Source/Feature/Authentication/Common/Extension/AuthenticationTextField+Constant.swift
  StudyMatching/Source/Feature/Authentication/Common/Model/AuthenticationTFRightViewImageCase.swift
  StudyMatching/Source/Feature/Authentication/Common/Model/AuthenticationTextFieldInputState.swift
  StudyMatching/Source/Feature/Authentication/Common/View/AuthenticationTextField.swift
  StudyMatching/Source/Feature/Authentication/Login/Extension/Constant/LoginHelperView+Constant.swift
  StudyMatching/Source/Feature/Authentication/Login/Extension/Constant/LoginView+Constant.swift
  StudyMatching/Source/Feature/Authentication/Login/Extension/LoginViewModel+Associatedtype.swift
  StudyMatching/Source/Feature/Authentication/Login/Model/LoginConstant.swift
  StudyMatching/Source/Feature/Authentication/Login/Model/LoginEntity.swift
  StudyMatching/Source/Feature/Authentication/Login/Protocol/LoginHelperViewDelegate.swift
  StudyMatching/Source/Feature/Authentication/Login/View/LoginHelperView.swift
  StudyMatching/Source/Feature/Authentication/Login/View/LoginView.swift
  StudyMatching/Source/Feature/Authentication/Login/ViewController/LoginViewController.swift
  StudyMatching/Source/Feature/Authentication/Login/ViewModel/LoginViewModel.swift
  StudyMatching/Source/Support/Assets.xcassets/Authentication/Common/Contents.json
  StudyMatching/Source/Support/Assets.xcassets/Authentication/Common/deleteAll.imageset/Contents.json
  StudyMatching/Source/Support/Assets.xcassets/Authentication/Common/deleteAll.imageset/deleteAll.png
  StudyMatching/Source/Support/Assets.xcassets/Authentication/Common/deleteAll.imageset/deleteAll@2x.png
  StudyMatching/Source/Support/Assets.xcassets/Authentication/Common/deleteAll.imageset/deleteAll@3x.png
  StudyMatching/Source/Support/Assets.xcassets/Authentication/Common/openAndHoldIcon.imageset/Contents.json
  StudyMatching/Source/Support/Assets.xcassets/Authentication/Common/openAndHoldIcon.imageset/openAndHoldIcon.png
  StudyMatching/Source/Support/Assets.xcassets/Authentication/Common/openAndHoldIcon.imageset/openAndHoldIcon@2x.png
  StudyMatching/Source/Support/Assets.xcassets/Authentication/Common/openAndHoldIcon.imageset/openAndHoldIcon@3x.png
  StudyMatching/Source/Support/Assets.xcassets/Authentication/Common/showHiddenText.imageset/Contents.json
  StudyMatching/Source/Support/Assets.xcassets/Authentication/Common/showHiddenText.imageset/showHiddenText.png
  StudyMatching/Source/Support/Assets.xcassets/Authentication/Common/showHiddenText.imageset/showHiddenText@2x.png
  StudyMatching/Source/Support/Assets.xcassets/Authentication/Common/showHiddenText.imageset/showHiddenText@3x.png
  StudyMatching/Source/Support/Assets.xcassets/Authentication/Contents.json
  StudyMatching/StudyMatching.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🖥 View, 📲 ViewController, 👨‍💻 ViewModel, 🏖 Common

#9 Home page의 TableView 및 Cell UI setting
  StudyMatching/Source/Feature/Authentication/Login/Extension/LoginViewModel+Associatedtype.swift
  StudyMatching/Source/Feature/Home/ViewController/HomeViewController.swift
  StudyMatching/Source/Feature/Home/ViewController/StudyMatchingPostCell.swift
  StudyMatching/StudyMatching.xcodeproj/project.pbxproj
Labels: 😅 Hotfix, 🎨 Style, 🖥 View, 📲 ViewController

#10 Home page class naming변경(유실된 StudyPostModel.swift을 다시 포함시켰습니다.)
  StudyMatching/Source/Feature/Authentication/Main/ViewController/MainTabBarController.swift
  StudyMatching/Source/Feature/Home/Model/StudyPostModel.swift
  StudyMatching/Source/Feature/Home/ViewController/StudyFeedViewController.swift
  StudyMatching/Source/Feature/Home/ViewController/StudyPostCell.swift
  StudyMatching/Source/Feature/Home/ViewController/StudyPostViewController.swift
  StudyMatching/Source/Support/AppDelegate.swift
  StudyMatching/Source/Support/Assets.xcassets/  bubble.imageset/68100b62eec41bb145f2b2920bc632af.png
  StudyMatching/Source/Support/Assets.xcassets/  bubble.imageset/Contents.json
  StudyMatching/Source/Support/Assets.xcassets/userProfile/2e88faead86a9f0d3bc1009b2a11bff5.imageset/2e88faead86a9f0d3bc1009b2a11bff5.jpeg
  StudyMatching/Source/Support/Assets.xcassets/userProfile/2e88faead86a9f0d3bc1009b2a11bff5.imageset/Contents.json
  StudyMatching/Source/Support/Assets.xcassets/userProfile/2fb3451f2790627112ebba6732cb7a49.imageset/2fb3451f2790627112ebba6732cb7a49.jpeg
  StudyMatching/Source/Support/Assets.xcassets/userProfile/2fb3451f2790627112ebba6732cb7a49.imageset/Contents.json
  StudyMatching/Source/Support/Assets.xcassets/userProfile/Contents.json
  StudyMatching/StudyMatching.xcodeproj/project.pbxproj
Labels: 📜 Documentation, 😅 Hotfix

#11 Feature/tab bar setting
  StudyMatching/Source/Feature/Home/Model/StudyPostModel.swift
  StudyMatching/Source/Feature/Home/ViewController/CommentCell.swift
  StudyMatching/Source/Feature/Home/ViewController/StudyFeedViewController.swift
  StudyMatching/Source/Feature/Home/ViewController/StudyPostCell.swift
  StudyMatching/Source/Feature/Home/ViewController/StudyPostViewController.swift
  StudyMatching/Source/Support/Assets.xcassets/chevron.left.imageset/Contents.json
  StudyMatching/Source/Support/Assets.xcassets/chevron.left.imageset/chevron.left.png
  StudyMatching/Source/Support/Assets.xcassets/userProfile/userProfile1.imageset/2fb3451f2790627112ebba6732cb7a49.jpeg
  StudyMatching/Source/Support/Assets.xcassets/userProfile/userProfile1.imageset/Contents.json
  StudyMatching/Source/Support/Assets.xcassets/userProfile/userProfile2.imageset/2e88faead86a9f0d3bc1009b2a11bff5.jpeg
  StudyMatching/Source/Support/Assets.xcassets/userProfile/userProfile2.imageset/Contents.json
  StudyMatching/StudyMatching.xcodeproj/project.pbxproj
Labels: 😅 Hotfix, 🎨 Style

#12 StudyFeedViewController의 댓글 UI를 구현
  StudyMatching/Source/Feature/Home/Model/CommentModel.swift
  StudyMatching/Source/Feature/Home/Model/StudyPostModel.swift
  StudyMatching/Source/Feature/Home/ViewController/CommentCell.swift
  StudyMatching/Source/Feature/Home/ViewController/StudyFeedViewController.swift
  StudyMatching/Source/Feature/Home/ViewController/StudyPostCell.swift
  StudyMatching/Source/Feature/Home/ViewController/StudyPostViewController.swift
  StudyMatching/StudyMatching.xcodeproj/project.pbxproj
Labels: 😅 Hotfix, ✨ Refactor, 🎨 Style, 🖥 View, 📲 ViewController

#13 Feature/chat/main refactor
  StudyMatching/Source/Common/Extension/UIColor/UIColor+Palette.swift
  StudyMatching/Source/Feature/Chat/Model/ChatModel.swift
  StudyMatching/Source/Feature/Chat/View/ChatCell.swift
  StudyMatching/Source/Feature/Chat/ViewController/ChatViewController.swift
  StudyMatching/Source/Feature/Chat/ViewModel/ChatViewModel.swift
  StudyMatching/StudyMatching.xcodeproj/project.pbxproj
Labels: 💡 Feature, ✨ Refactor, 🎨 Style, ✅ Test, 🖥 View, 📲 ViewController, 👨‍💻 ViewModel

#14 [Feat] start page login으로 지정. isLogin bool 변수 임시 지정
  StudyMatching/Source/Feature/Authentication/Login/ViewController/LoginViewController.swift
  StudyMatching/Source/Support/SceneDelegate.swift
Labels: 💡 Feature, ✨ Refactor
